
.black-piece, .white-piece {
  height: 70px;
  width: 70px;
  box-sizing: border-box;
}


.container{
  display: flex;
  flex-wrap: nowrap;
}
.black-piece {
  background-color: black;
}

.white-piece {
  background-color: beige;
}

.yellow-piece {
  height: 50px;
  width: 50px;
  margin: 3px;
  box-sizing: border-box;
  background-color: yellow;
  display: block;
}