
.black-piece, .white-piece {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: nowrap;
}
.black-piece {
  background-color: black;
}

.white-piece {
  background-color: beige;
}
